<% content_for :header do %>
    <%= login_and_signup_buttons %>
<% end %>

<h1><%= @user.username %>'s goals</h1>

<table>
    <thead>
        <tr>
            <th>Goal title</th>
            <th>Privacy</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% if current_user == @user %>
            <% viewable_goals = @user.goals %>
        <% else %>
            <% viewable_goals = @user.goals.where(privacy: 'Public') %>
        <% end %>
        <% viewable_goals.each do |goal| %>
            <tr>
                <td><a href="<%= goal_url(goal) %>"><%= goal.title %></a></td>
                <td><%= goal.privacy %></td>
                <td><%= goal.completion %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if current_user == @user %>
    <form action="<%= new_user_goal_url(@user) %>" method="get">
        <input type="submit" value="Add a new goal">
    </form>
<% end %>

<% comments_to_display = @user.comments.includes(:author) %>
<h2><%= comments_to_display.empty? ? "" : "Comments" %></h2>
<% comments_to_display.each do |comment| %>
    <blockquote>
        <p><%= comment.comment_text %></p>
        <footer>-<%= comment.author.username %></footer>
    </blockquote>
<% end %>

<%= render 'shared/error_messages' %>

<% if logged_in? %>
    <form action="<%= comments_url %>" method="post">
        <%= insert_form_authenticity_token %>
        <input
            type="hidden"
            name="comment[commentable_id]"
            value=<%= @user.id %>>
        <input
            type="hidden"
            name="comment[commentable_type"
            value="User">
        <input
            type="hidden"
            name="comment[author_id]"
            value="<%= current_user.id %>">

        <label for="comment_text">Add a new comment:</label>
        <textarea name="comment[comment_text]" id="comment_text" cols="30" rows="10"></textarea>

        <br>

        <input type="submit" value="Submit comment">
    </form>
<% end %>