<% content_for :header do %>
    <%= login_and_signup_buttons %>
<% end %>

<% if current_user == @user %>
    <% page_title = 'My goals' %>
    <% viewable_goals = @user.goals %>
    <% empty_table_message = 'You do not have any goals' %>
<% else %>
    <% page_title = "#{@user.username}'s goals" %>
    <% viewable_goals = @user.goals.where(privacy: 'Public') %>
    <% empty_table_message = "#{@user.username} does not have any goals" %>
<% end %>

<h1><%= page_title %></h1>

<% if viewable_goals.empty? %>
    <p class="empty-table"><%= empty_table_message %></p>
<% else %>
    <table>
        <thead>
            <tr>
                <th>Goal title</th>
                <th>Privacy</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% viewable_goals.each do |goal| %>
                <tr>
                    <td><a href="<%= goal_url(goal) %>"><%= goal.title %></a></td>
                    <td><%= goal.privacy %></td>
                    <td><%= goal.completion %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

<% if current_user == @user %>
    <div class="current-user-actions">
        <form action="<%= new_user_goal_url(@user) %>" method="get">
            <input type="submit" value="Add a new goal">
        </form>
    </div>
<% end %>

<div class="comments">
    <%= render 'shared/comment_list', subject: @user %>
    <%= render 'shared/error_messages' %>
    <%= render 'shared/comment_form', subject_id: @user.id, subject_type: 'User' %>
</div>
