<% content_for :header do %>
    <%= login_and_signup_buttons %>
<% end %>

<h1><%= @goal.title %></h1>

<div class="goal-details">
    <table>
    <tbody>
    <tr>
        <td><h3>Owner</h3></td>
        <td>
            <div class="owner-and-link">
                <p><%= @user.username %></p>
                <a href="<%= user_url(@user) %>">
                    <% if current_user == @user %>
                        See all of my goals
                    <% else %>
                        See all of <%= @user.username %>'s goals
                    <% end %>
                </a>
            </div>
        </td>
    </tr>

    <% unless @goal.description == '' %>
        <tr>
            <td><h3>Description</h3></td>
            <td><p><%= @goal.description %></p></td>
        </tr>
    <% end %>

    <% if @goal.due_date %>
        <tr>
            <td><h3>Due date</h3></td>
            <td><p><%= @goal.due_date.strftime("%A, %B %-d, %Y") %></p></td>
        </tr>
    <% end %>

    <tr>
        <td><h3>Privacy</h3></td>
        <td><p>This goal is <%= @goal.privacy.downcase %>.</p></td>
    </tr>

    <tr>
        <td><h3>Status</h3></td>
        <td>
            <div class="status-and-form">
            <% if @goal.completion == 'Not completed' %>
                <p>This goal has not been completed.</p>
            <% else %>
                <p>This goal has been completed!</p>
            <% end %>

            <% if current_user == @user && @goal.completion == 'Not completed' %>
            <form action="<%= goal_url(@goal) %>" method="post">
                <%= insert_form_authenticity_token %>
                <input type="hidden" name="_method" value="patch">
                <input type="hidden" name="goal[completion]" value="Completed">

                <input type="submit" value="Mark goal as completed">
            </form>
            <% end %>
            </div>
        </td>
    </tr>
    </tbody>
    </table>
</div>

<% if current_user == @user %>

    <div class="current-user-actions">
        <form action="<%= edit_goal_url(@goal) %>" method="get">
            <input type="submit" value="Edit goal">
        </form>

        <form action="<%= goal_url(@goal) %>" method="post">
            <%= insert_form_authenticity_token %>
            <input type="hidden" name="_method" value="delete">

            <input type="submit" value="Delete goal">
        </form>
    </div>

<% end %>

<div class="comments">
    <%= render 'shared/comment_list', subject: @goal %>
    <%= render 'shared/error_messages' %>
    <%= render 'shared/comment_form', subject_id: @goal.id, subject_type: 'Goal' %>
</div>
