<!DOCTYPE html>
<html>
  <head>
    <title>GoalTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>

        <p>Logged in as <%= current_user.username %></p>

        <form action="<%= session_url %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <%= insert_form_authenticity_token %>

          <br>

          <input type="submit" value="Log out">
        </form>
        
      <% else %>

        <p>Currently logged out</p>
        <%= yield :header %>

      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
