<!DOCTYPE html>
<html>
  <head>
    <title>GoalTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:400,700,800&display=swap">
  </head>

  <body>
    <header>
      <a class="logo" href="<%= users_url %>">Goal Tracker</a>

      <% if logged_in? %>

        <div class="header-session-info">
          <p>Logged in as <%= current_user.username %></p>

          <form action="<%= session_url %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <%= insert_form_authenticity_token %>

            <input type="submit" value="Log out">
          </form>
        </div>
        
      <% else %>

        <div class="header-session-info">
          <p>Currently logged out</p>
          <%= yield :header %>
        </div>

      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
